#slider-79 .wd-slide {
	min-height: 470px;
}

@media (max-width: 1024px) {
	#slider-79 .wd-slide {
		min-height: 660px;
	}
}

@media (max-width: 768px) {
	#slider-79 .wd-slide {
		min-height: 450px;
	}
}
